In [10]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import datetime as dt
from sklearn.ensemble import AdaBoostClassifier
from sklearn.preprocessing import LabelEncoder
from main.extensions.utils.utils import load_object

In [ ]:
model_path = 'D:/Study/Education/Projects/ML1_midterm/main/artifacts/model.pkl'
preprocessor_path = 'D:/Study/Education/Projects/ML1_midterm/main/artifacts/processor.pkl'

model = load_object(model_path)
processor = load_object(preprocessor_path)

In [ ]:
X_train = pd.read_csv('D:/Study/Education/Projects/ML1_midterm/main/data/transformed/x_train.csv', index_col=0)
X_test = pd.read_csv('D:/Study/Education/Projects/ML1_midterm/main/data/transformed/x_test.csv', index_col=0)
y_train = pd.read_csv('D:/Study/Education/Projects/ML1_midterm/main/data/transformed/y_train.csv')
y_test = pd.read_csv('D:/Study/Education/Projects/ML1_midterm/main/data/transformed/y_test.csv')

In [13]:
model.predict(X_test)

array([0, 1, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1,
       0, 0, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0,
       1, 1, 0, 1, 1, 0, 1, 1, 1, 0, 1, 0, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1,
       1, 0, 0, 1, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0,
       1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 1, 1])

In [ ]:
encoder = LabelEncoder()
y_train = pd.DataFrame(encoder.fit_transform(y_train))
y_test = pd.DataFrame(encoder.transform(y_test))

In [ ]:
input_data = {'Gender': 'Female',
                    'Age': 18,
                    'Academic Pressure': 5,
                    'Study Satisfaction': 1,
                    'Sleep Duration': 'Less than 5 hours',
                    'Dietary Habits': 'Unhealthy',
                    'Have you ever had suicidal thoughts ?': 'Yes',
                    'Study Hours': 1,
                    'Financial Stress': 5,
                    'Family History of Mental Illness': 'Yes'}

data = pd.DataFrame([input_data])

In [24]:
data = pd.DataFrame(processor.transform(data))

In [27]:
model.predict_proba(data)

d:\Study\Setup\anaconda\config\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but AdaBoostClassifier was fitted with feature names
  warnings.warn(

array([[0.16732927, 0.83267073]])

In [3]:
df.head()

,Gender,Age,Academic Pressure,Study Satisfaction,Sleep Duration,Dietary Habits,Have you ever had suicidal thoughts ?,Study Hours,Financial Stress,Family History of Mental Illness,Depression
0,Male,28,2.0,4.0,7-8 hours,Moderate,Yes,9,2,Yes,No
1,Male,28,4.0,5.0,5-6 hours,Healthy,Yes,7,1,Yes,No
2,Male,25,1.0,3.0,5-6 hours,Unhealthy,Yes,10,4,No,Yes
3,Male,23,1.0,4.0,More than 8 hours,Unhealthy,Yes,7,2,Yes,No
4,Female,31,1.0,5.0,More than 8 hours,Healthy,Yes,4,2,Yes,No

In [16]:
df = df.drop(['Depression'], axis = 1)

cat_col = df.select_dtypes(include='object').columns
num_col = df.select_dtypes(exclude = 'object').columns

total_unique_values = 0
for col in cat_col:
    total_unique_values += df[col].nunique()  # Use .nunique() to count unique values

print(total_unique_values + len(num_col))

18

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 502 entries, 0 to 501
Data columns (total 11 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   Gender                                 502 non-null    object
 1   Age                                    502 non-null    int64
 2   Academic Pressure                      502 non-null    float64
 3   Study Satisfaction                     502 non-null    float64
 4   Sleep Duration                         502 non-null    object
 5   Dietary Habits                         502 non-null    object
 6   Have you ever had suicidal thoughts ?  502 non-null    object
 7   Study Hours                            502 non-null    int64
 8   Financial Stress                       502 non-null    int64
 9   Family History of Mental Illness       502 non-null    object
 10  Depression                             502 non-null    object
dtypes: float64(2), int64(3), object(6)
memory usage: 43.3+ KB